.networlList,.skillsList{
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skillsList li{
  float: right;
  margin: 5px;
  font-size: 30px;
}

.yellow{
  color:rgb(251, 255, 27)
}
.blue{
  color:rgb(33, 97, 235)
}
.cyan{
  color:rgb(57, 217, 245)
}
.green{
  color: rgb(48, 228, 31)
}
.blue{
  color:rgb(33, 97, 235)
}
.orange{
  color:rgb(255, 134, 20)
}

.networlList li a:hover {
  background-size: calc(100% - 15px) 2px
  ,2px 65%
  ,100% 14px
  ,2px calc(100% - 15px)
  ,15px 15px;
}

.networlList li a{
  opacity: .8;
  color: #3d52f2;
  float: left;
  margin: 5px;
  font-size: 15px;
  padding: 3px 5px;
  padding: 8px 19px;
  background-color: transparent;
  background-image: linear-gradient(180deg, #3d52f2, #3d52f2)
    ,linear-gradient(225deg, #3d52f2, #3d52f2)
    ,linear-gradient(0deg, #3d52f2, #3d52f2)
    ,linear-gradient(90deg, #3d52f2, #3d52f2)
    ,linear-gradient(135deg, transparent 9px, #3d52f2 10px, #3d52f2 12px, transparent 12px)
    ;
  background-position: top right
    ,top right
    ,bottom left
    ,bottom left
    ,top left
    ;
  background-size: calc(100% - 15px) 2px
  ,2px 65%
  ,100% 9px
  ,2px calc(100% - 15px)
  ,15px 15px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}
.networlList li:nth-child(2) a{
  background-image: linear-gradient(180deg, #fff, #fff)
    ,linear-gradient(225deg, #fff, #fff)
    ,linear-gradient(0deg, #fff, #fff)
    ,linear-gradient(90deg, #fff, #fff)
    ,linear-gradient(135deg, transparent 9px, #fff 10px, #fff 12px, transparent 12px);
  color: #fff;
}
.networlList li:nth-child(3) a{
  background-image: linear-gradient(180deg, #ff0000, #ff0000)
    ,linear-gradient(225deg, #ff0000, #ff0000)
    ,linear-gradient(0deg, #ff0000, #ff0000)
    ,linear-gradient(90deg, #ff0000, #ff0000)
    ,linear-gradient(135deg, transparent 9px, #ff0000 10px, #ff0000 12px, transparent 12px);
  color: #ff0000;
}
.networlList li:nth-child(4) a{
  background-image: linear-gradient(180deg, #00ff00, #00ff00)
    ,linear-gradient(225deg, #00ff00, #00ff00)
    ,linear-gradient(0deg, #00ff00, #00ff00)
    ,linear-gradient(90deg, #00ff00, #00ff00)
    ,linear-gradient(135deg, transparent 9px, #00ff00 10px, #00ff00 12px, transparent 12px);
  color: #00ff00;
}

hr.glitch {
  height: 4px;
  margin: .5rem 0;
} 
section p {
  line-height: 22px;
  margin-bottom: .5rem;
}

.sessionTitle{
  color: #31b79e;
}

.text-right{
  text-align: right;
}

.box {
  padding: 0 6px 5px;
  border-bottom: solid 3px;
  border-left: solid 13px;
  margin-bottom: 5px;
}
.box:nth-child(2n) > .boxHeader {
  margin-left: 0;
}
.box:nth-child(2n) {
  padding: 0 6px 5px;
  border-bottom: solid 3px;
  border-left: none;
  border-right: solid 13px;
  margin-bottom: 5px;
  padding-left: 0;
}

.boxHeader{
  background-color: #d391fa;
  color: #000;
  margin-right: -7px;
}

.projetosImg{
  width: 90%;
  margin: 0 auto;
  border: solid 4px #d391fa;
}