:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --thin: 200;
    --regular: 400;
    --bold: 700;
}

.hide{
  display: none;
}

body, html{
    padding: 0;
    margin: 0;
    font-family: Oxanium;
    font-weight: var(--regular);
    color: #d391fa;
    font-size: 25px;
    background-color: #000915;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}
.fRight{
  float: right;
}
.hologram{
    position: fixed;
    top: 2.5vh;
    max-height: 95vh;
    overflow: auto;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.111);
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 0px -50px 50px #7008ac;
    z-index: 9;
    filter: blur(0.6px);
}

.borderCorner::after,
.borderCorner::before {
  content: '';
  position: fixed;
  height: 90%;
  width: 90%;
  opacity: .5;
}
.borderCorner::before {
    top: -6px;
    left: -6px;
    border-top: 2px dashed #d800ff;
    border-left: 2px solid #d800ff;
}
.borderCorner::after {
  bottom: -6px;
  right: -6px;
  border-bottom: 2px dashed #d800ff;
  border-right: 2px solid #d800ff;
}
/* img{
    filter: sepia(50%);
    width: 100%;
} */

.grain,
.borderCorner{
    z-index: 10;
    pointer-events: none;
    opacity: .7;
    position: fixed;
    top: 2.5vh;
    max-height: 95vh;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
}

.borderCorner{
    overflow:visible;
}

section{
    display: block;
    padding: 5px;
    width: 80vw;
    max-width: 1024px;
    margin: 0 auto;
}



p{
    opacity: .8;
}
.imageText {
  opacity: .5;
}


.line{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: blue;
    mix-blend-mode: screen;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    filter: blur(1px);
    opacity: .2;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.754);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
  }


  footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    font-size: 13px;
    font-weight: var(--bold);
    border-bottom: dashed 1px #7008ac;
    border-right: solid 2px #7008ac;
    z-index: 4;  
    display: flex;
    justify-content: space-between;
    width: CALC(100% - 3px);
  }


  /* ANIMAÇÔES */
  .backgroundLigthing{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000915;
    background-image: url(../images/bgcity.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: .5;
  }
  .backgroundLigthing.animated{
    animation: animatedBackgroundLigthing .2s linear infinite;
}


.motherShip.animated{
  animation: animatedMotherBoardLigthing .2s linear infinite;
}

.paralax-2{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/bg.png);
    background-position: bottom;
    background-repeat:repeat-x;
    animation: animatedBackground 100s linear infinite;    
    z-index: 3;
    position: absolute;
}

.paralax-1{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/bg.png);
    background-position-y: 0;
    background-repeat:repeat-x;
    animation: animatedBackground 300s linear infinite;
    z-index: 1;
    position: absolute;
    filter: blur(.8px);
}

.paralax-middle-1{
    background-image: linear-gradient(rgb(255 255 255 / 0%), rgb(0, 0, 0) 78%);    
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: absolute;
}

@keyframes animatedBackgroundLigthing {
  0% {
    background-color: #000915;
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  20% {
    background-color: #121a24;
  }
  20% {
    background-color: #000915;
  }
  50% {
    background-color: #121a24;
  }
  60% {
    background-color: #000915;
  }
  80% {
    background-color: #121a24;
  }
  100% {
    background-color: #000915;
  }
}
@keyframes animatedMotherBoardLigthing {
  0% {
      filter: brightness(0.3);
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  20% {
      filter: brightness(0.5);
  }
  20% {
      filter: brightness(0.3);
  }
  50% {
      filter: brightness(0.5);
  }
  60% {
      filter: brightness(0.3);
  }
  80% {
      filter: brightness(0.5);
  }
  100% {
      filter: brightness(0.3);
  }
}

@keyframes animatedBackground {
  from {
    background-position-x: 0px;
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position-x: -10000px;
  }
}
.grain::after{
    content:"";
    position: fixed;
    width:200vw;
    height: 200vh;
    left: -50%;
    top: -50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAOh0lEQVR4nO1dbVczNw69JCEvBJInEEIgEIb//6/6fbu73e77tt0P1o2vZQ3QPgRCmHsOJ8mMx5ZlWZJljQEynlBia58ncq3nykzs8wzApVy/ATAAMANwJdevACxdnbCyp/bHNhqpn/DP3aMdS/ucAri17xurQ/s6AnBhfbiQZzZSbgvgzuiE1Te0MgDwIO2RdsUaJR/0OvtwzYuPdsPjSgjcyOfICBjZNWXSBuXALIJ6WfejPctONkE5DkgPiWEed0YLvxNDa2OM1NELxBja81P7fenun9vnSK7N5ftUngXSAPo6psg84qDMXRkveNggd6yxB+5cmbl1wGOENCPY4K0RtXXlKQl9+xzb5zVEOgw9o8d3DqiFRwXi2ujnLCMDhsidvkItKMoQlfq+K0fhmSHNiBt3PxIaIA+ob3fsC0ZYSAXs2D1K5pKwaIBWSExaIxG9QGICpWIZPAMkBpAxQ6snkuyVfXJgrqy8DtTG2ovUhEo71fIKtfq7RBKuKcoB2yLPijPUwnRjbbPMDIlf/E3ePSDPwL6VC/FoD9+5xuGIbuS7lgGSLfDg4M5Rqyf/G9b+Vcs9IEsXO3KGPNgDV/bO2h9aOaWPA0k7wxnnbeoCZT/HyIyeSnmdJQ+oQYGiMFQDQcltXOOXyJLBxm6s8SFKVeF14AMSE0aI4dUhkKSlQckIDuI31AzigPSRmPrcDFQ6orYVT1LXwmhoXJlv7vfAlaFArJD6tZV7aj/OkQekB9MIE/tT9UNvR3XkUhoaW2XKJA7QBKnTvKfMaJBm2SVidQK752fYOerBpbTOrS2VtBVKpg2NdtIY2SbarElwf+3KeW8P9lyb2hkh95d2hHWQ74UH23OfS+SpBaQBoLGLDNc98pQHsrSsUXoZC6tHO7hGNp5nqD0QoB68to73hE5fhgIS2b1DUtNFZZwVHFE1WNqRKbLK2CCrmwnylD9FGqRuBia8dgaGeETq0NoaO0di/AWyZ6ANRd7Q1OpRREzyM2JrBHvDzLZ8nQTdbV8XdfgSaQZurc0TpIF5QCks6opeIktyNHMVHNA5kiZYol6zRJgajbt2STQlgJ7DAFnfTZAk+hzZgDdSXsHrlJZzpI6rsZ0jM4+E3iLNmGhwGySB0MGgmpsgCQ7VDjFs+a44sXojFeg9JGqLjbXD/tyiXvkDdT+qxR+yKpugNPw7xpNJG7k3kt+8T9UUgeuQtntkmhqxi5b6blAO5I3R2ragOrV6dOCeiwQAecaz/ceAFg7oFcp1ySlqY+3tMdE2QFR9u34+WKWcBRO5zk5EBmuIeBo27vfIffJZxSXSoLOdOdpVEzFA6erSqWiQ+kOmqvRPkIRli3jVPEEO6XhsUTs0V8gaZYV2N19xgWTnIjuGPtIIjQH8COBXAP+zzvwA4L/296s8uEZi4C9GzBDAv+X+qdTzaN//hcSAfxjx1/bMCDkI+U8j9me79pN18gyJQf+xjvxkdfxiz8Dq/dm+/8Wuz6x/Y7kHo+dXAH+1+v9u1/tW54/2e2Y0sszfjAYgCe5v1s6NPXMqdS2Mr1O5Rlzb839GEp7fkAb2TyygKoF6rO9+k0B6RXyGQTxfVw9Zymh7+qiDbA3ygPj2IrB9hmN8edXTY5R2gG00KD0kfUbpUxea6CNWfTTMsGeoATgLB0hC3Ecd/3oRh2joxshqKVqJqzdD71CxRvbxvbfU2Oc3o/MWNd41vhcZUxZ8ycXVihgQhBCvnWuT/pHdU2lUg3iP53XzBVJnv6EeCJ0JM6OHwkaBU1s4D+icIPWL6zNYPeQRI790fnywUfF7lhM79JGYwAXRLbIB1cGgJMxQGsgV0vRk8A3IqoBSskDSuZ7RrJPttO2neOjCTQc2WiEz7qVrFhWmJ6H7GnmAFmj3HlmeTGWb90h94SC17YNUa5xHZK/mEvW0O0XqaIMaAyTGjqQBejIeOk3ZlnYAyPsoayQmsR52Vj27jbXZRzL+qmZpBxkGipjpbQRD50BiIuvzM49qZ2P0qaCukWa4Z7LydIS81tvAeW8RoQOUU+gaZbhEQ8hUS7QvfuqpC8r21OXTWaA2ZYjSaRij3GcgNOw+Q9mfl5wEIAlDE7TfQ21HKQBLpD40SMxl/y6Q+MD+qWZQurikeJLrT3C8O4ZF1RTlYA+l/BZlVIFtMFJBUFqXqEM96tQsrGwj96iuF8gz5Ll9f1gbbGcX0G0LJysir4uzQxMJgNhAqcpbW/n7lrZJ4IO1u21pP9oAasMS9cDeIhtWMq5BXugByTtboYx+c32j9D5nYyKoSqPg7GzqH5pSUhYoDTi9GSCpuwFiT0I7xaAfwRCJN/ysX58dIrusZ0jSz4gvmTtDGQbi8xoU9Fih3mjzq3XvTPA+B5/C9Yhsd85Q268q8LrPUad6mFiZyEGg+vELJ6oghvm958UsGIXfauXzpHGGWi2yHBkarUdW7ne0LADqBfXC/eZ97evO6B9CLpKqI89wZfZJcB/IEqw2Qr0aXbACmbEbuU7m+oG6RC2UjbQ1QTx4OjM8dCC4Z1RAiRhIZQw6MiuCDzdITFCDrfDGPSK4DSSOzIoWhZwBDeqp7xlAhnH29lBK8Eu06X59z+jh4HmnxLdL0L2PbB7p3w163xqiyog2jLRRHz0ldIXqjacPd3DRScZ6pirOkCVaJWvqaL1DYi4H5NyeJY0DpD56lajrDt31W7gyXNDOUQ+izjQg86htU4p94SxrS+QD0O2PAx+cxtSg2ws/pGyUF9G2M9i2a+cZ1LjfHGh+955Klyf2TGGGmLfIiyONeXmP5Mme2SV9Cei1KbPaGMR41pe0b5fIy34FPQJuuDB2ox04Qew5cBreIas85skqesjq7hT1xs5K7rH8sacpdfErHEj8yoPeEZOS+cBaCO6yU/YviMVU3Rhht6gThL2h1FWvVqqSR9dY77W9Q3GKchB6yNIT2QDS1zg6FTrg3Ia9QJ3EF4XpeT8yuuyvDgj549coDRJPVWDUftA7C/fadVOeFesU9luyXYJdje/NO9jhqBIFBJ/uRaCj7hz295bTDWLXmsJIzUCw77oQ1ecKjbHXytFtgP3eDbAuGmufr4rGovaMhkaDus+vgXfXd7bsBHHc/gSpU55QGsYFEkN0N9GnCymYegpXpxK2RburDJS7mL7uY0jMwAjliI6lYnoCDbqkbGLvSdkD5OAbjGA/JSOdPQzKedwib2YRczwf5TxFzhM7QR1h1QzCa+SMRXUYFtbuOTLTvLA08l2lXMNIqm5PUeYe6Hv7HCS/2OQCEXi94HfrCIePzl/eodPvCR+deLcDkxaiRtUL8qCq21qFqsY4QJENWSOn/iwCYq+RB4wpNEAZVOSZKwxF8KyVtZThQpXvjAPZBaVGeA5851FVot96VZd1hFJAZq6M8ke/77zJr75Dxzqi98VVU0zd9UhANVq8ROo77VAUTIwSSgDkaUbp4+cjyhmj6oHSxvQgRffe+3fs63evPcd0erzZa8/Iwqk8aGAzpAvoJRxKzKvQ8Vw4+dh8FL6INndm8p3eEJ/V9w+BbOwb++0F4kGIf3DXgcR0VadcizyiVJXEZ3l/coeDeC0Y5ZtXERop2zbzgHKWXBptfpGoMbcGh2NDAXQR34OK+HahkfcLjbwYE/SLsgESU7xkTKTxaFuX72aQmAfk6a770uqX08PTVCGCNPUdLVGe1DG9qFpgry8zWn3eXXxEzp3yYOc2KDtKZi3db481ktTNUB5qyfb5+oU/3o+g4PkMGAqTzggyNzqsQPHSVkf44N4WPYbuTMaE0D59ST0d9AU4jL2bSn+x8QXKVNAoCNjZm4Q3tTeqN48pa/xJ6vqI00UjdfTaRPYCnSv78SoSQHf4/sG88PqZU/ePcc9mJ01KFNN7ogTg7uD+jH0c3P9dJw6o16C6GshSrxLcSB1r1IE6IAuIl/Jr1AxtSwQnEyPD7yVWkwyAfKqQvp6hr0d4+DWNd1oo6FvUKlmT+gDjdRM0cqyLrhcPwheQJs487gkRPtOFkQxtR6E7mUAaiB6C/9/yGVNljvqov3fbmjR4JvmNmwekzt6jTBiI8CD3t2i3eY2VpXD05ZM2rI8sKDcoPbVof8bP4rfyUnfgJk5bw7oj1kMaEO603SDPJk+oBxslszXYNkGp0r7kbibf8eYmzTdk3eYfUAxRbrgQXioa5BkXLd7YCf/cQmjQPe0T5HcNN+7+udHkVSB/05tr23TSvF/Cb4wRumE3QG0Px8jODssQKmjkTZGE2IU7vj/c8Wbv7XfHLCXs45ila2Rvqgme9/nSEyAxlY1x2vnVq6ZBMicWyAPgZ0hkizwzoiM0gHxi9Z279lq02bBPcxTIUWb/GT7jRlgXJpFrB/H/Dd/KOxigVBfKINbFtE4eVAl5hgdV3qI8jpvQl+91hjAACXdPB0RTfnx2OpAPzdSzV7Yo7RDTpCigdKPVaXgL9d9FcQUHkXk/lwcogWOUg9MduZGx7yM3ureX8A7HhktZ4Pkzjju31/329HzECXgAPnF0NMCnfx2izUApukTojL2f/a4GlqHg7t31jPfMatnh4BPIAqirexT/WYf4KidGk46+1bmwvydkZrKftFdPyHs/QH7T1m8pQJ5jW3/kELgQh3wm4bEfjrnzKr7k/3vC4b0iUeHDsi0MV8hM38gn/08I7Y92mCc4EG026ArZMXhuxnPW9RBHEO6QZ4iul7j4HSMJWdv7j9y1JC8LJ0Ull0xqgntKfJcZn+t+a8cGQBc2aXAYYZPCqDPpjHhC7e/rsRZkcJtL54npDrapER1sAwjBrz2xpssDTtjHBlcF75o1QeWKaM+jy/H6jhwvVRfdv0I9ANe4W4W/3yr8NUcoFujWIB+8BgHaPYHW/+9tlSmjdYZQujilaRA5AN62qMt9KgTyiFamrJKZK5TRYjJHhSU63pX4NDaywfGfsvMZTqrrjnLFYb2f0h3x10Knx7u8R/N/zoJhKaqY2qsAAAAASUVORK5CYII=);
    /* animation:grain 1.5s steps(6) infinite; */
}

/* @keyframes grain {
  0%, 100% {transform: translate(0,0);}
  10% {transform: translate(-5%,-10%);}
  30% {transform: translate(3%,-15%);}
  50% {transform: translate(12%,9%);}
  70% {transform: translate(9%,4%);}
  90% {transform: translate(-1%,7%);}
} */


.glitchClass{
    animation: glitch .5s ease-in-out infinite;
    animation-direction: alternate;
}

.glitchImgClass{
    animation: glitchImg .5s ease-in-out infinite;
    animation-direction: alternate;
}


@keyframes glitchImg{
  0%{
    opacity: .5;
  }
  20%{
    opacity: 0;
  }
  40%{
    opacity: .5;
  }
  30%{
    opacity: .1;
  }
  40%{
    opacity: .5;
  }
  60%{
    opacity: .1;
  }
  100%{
    opacity: .5;
  }
}


@keyframes glitch {

    0% {  
        opacity: 1;
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    10% {
        opacity: 0;
        text-shadow: 
            0.025em 0 0 #0c2ffb, 
            0.05em 0 0 #2cfcfd, 
            -0.025em 0 0 #fb203b, 
            -0.05em 0 0 #fefc4b;
    }

    20% {  
        opacity: .5;
        text-shadow: 
            -0.0625em 0 0 #0c2ffb, 
            -0.125em 0 0 #2cfcfd, 
            0.0625em 0 0 #fb203b, 
            0.125em 0 0 #fefc4b;
    }
    
   30% {
        text-shadow: 
            0.03125em 0 0 #0c2ffb, 
            0.0625em 0 0 #2cfcfd, 
            -0.03125em 0 0 #fb203b, 
            -0.0625em 0 0 #fefc4b;
    }

    40% {  
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
    50% {  
        opacity: .1;
        text-shadow: 
            0.025em 0 0 #0c2ffb, 
            0.05em 0 0 #2cfcfd, 
            -0.025em 0 0 #fb203b, 
            -0.05em 0 0 #fefc4b;
    }

    60% {  
        text-shadow: 
            -0.0625em 0 0 #0c2ffb, 
            -0.125em 0 0 #2cfcfd, 
            0.0625em 0 0 #fb203b, 
            0.125em 0 0 #fefc4b;
    }
    
    70% {
        opacity: .5;
        text-shadow: 
            0.03125em 0 0 #0c2ffb, 
            0.0625em 0 0 #2cfcfd, 
            -0.03125em 0 0 #fb203b, 
            -0.0625em 0 0 #fefc4b;
    }

    80% { 
        
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    90% {  
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    100% { 
        opacity: 1; 
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

.line::after, .line::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    mix-blend-mode: screen;
  }
.line::after{
  top: 2px;
  background: red;
}
.line::before{
  top: -2px;
  background: limegreen;
}
@keyframes lines {
  0%   { opacity:0.1 }
  50%  { opacity:.3 }
}


.animacoes{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
  


.icones{
    position: absolute;
}

.animacoes{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.carro1{  
    top: 50vh;
    left: -200px;
    position:absolute;
}
.carro2,.bus,.carro3,.police{
    position:absolute;
    top: 0;
    left: -200px;
}

.motherShip{
  filter: brightness(0.3);
  max-width: CALC(100vw - 30px);
}
.motherShipContainer{
  position:absolute;
  top: -10px;
  left: 30px;
  animation: planeShip 3s linear infinite;
}

@keyframes planeShip{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-5px) translateZ(15px);
  }
  100%{
    transform: translateY(0px);
  }
}
.skillsList > li {
  border-bottom: solid #a544fe 4px;
  margin-bottom: 0 !important;
  border-radius: 4px;
  filter: opacity(.8);
  overflow: hidden;
}
.rotate {
  animation: rotate 5s linear infinite;
  box-shadow: 0px 35px 6px #a544fe;
}

.socialNetwork{
  align-items: end;
  align-content: end;
  display: flex;
}


.rotate.yellow  {
  box-shadow: 0px 35px 6px rgb(251, 255, 27);
}
.rotate.blue {
  box-shadow: 0px 35px 6px rgb(33, 97, 235);
}
.rotate.cyan {
  box-shadow: 0px 35px 6px rgb(57, 217, 245);
}
.rotate.green {
  box-shadow: 0px 35px 6px rgb(48, 228, 31);
}
.rotate.orange {
  box-shadow: 0px 35px 6px rgb(255, 134, 20);
}


@keyframes rotate {
  from {
      transform: rotate3d(0, 1, 0, 0deg);
  }
  to {
      transform: rotate3d(0, 1, 0, 360deg);
  }
}


.carro1,.carro2,.carro3,.police{
    transform: rotate(10deg);
}
.police > div::before,.police > div::after{
    content: '';
    position: fixed;
    width: 9px;
    height: 4px;
}
.police > div::before{
    top: 4px;
    left: 37px;
    background-color: blue;
    animation: giroflexBlue .5s linear infinite;
}
.police > div::after{
    top: 4px;
    left: 31px;
    background-color: red;
    animation: giroflexRed .5s linear infinite;
}


@keyframes giroflexRed{
  from{
    background-color: red;
  }
  to{
    background-color: blue;
  }
}
@keyframes giroflexBlue{
  from{
    background-color: blue;
  }
  to{
    background-color: red;
  }
}





@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position-x:0;}
  to {background-position-x:10000px;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position-x:0;}
  to {background-position-x:10000px;}
}
@-moz-keyframes move-clouds-back {
  from {background-position-x:0;}
  to {background-position-x:10000px;}
}
@-ms-keyframes move-clouds-back {
  from {background-position-x: 0;}
  to {background-position-x:10000px;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(../images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(../images/twinkling.png) repeat top center;
  z-index:0;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
  background:transparent url(../images/clouds3.png) repeat top center;
  background-position-y: -250px;
  z-index:1;
  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}


.moviment::before{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 1px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 67px solid #eeca00;
  left: 68px;
  top: 19px;
  opacity: 0.1;
}

.moviment::after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 1px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 67px solid #eeca00;
  left: 63px;
  top: 24px;
  opacity: 0.1;
}

.movimentRow::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 1px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 67px solid #eeca00;
  left: 101px;
  top: 29px;
  opacity: 0.3;
}
.movimentRow::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 1px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 67px solid #eeca00;
  left: 105px;
  top: 24px;
  opacity: 0.3;
}

.pixelMoviment {
  width: 2px;
  height: 2px;
  background-color: #fff;
  position: absolute;
}