h3 {
    border-width: medium;
    border-style: solid;
    border-color: #00f;
    /* passe o mouse aqui em cima da cor o Brackets mostra a cor */
}

p {
    border-width: 6px;
    border-style: dashed;
    border-color: #f00;
}


/* border-radius serve para criar aquelas bordas arredondadas ao redor de elementos da página
*/

.circulo {
    border-radius: 50%;
    /* poderia alterar cada raio por ex. border-top-left-radius: 50%;*/
    border: 5px solid #000;
    height: 150px;
    line-height: 100px;
    /* altura entre inicio e o texto */
    text-align: center;
    width: 150px;
}

.quadrado {
    width: 100px;
    height: 100px;
    background-color: #660;
    border-radius: 10px 10px 10px 10px;
    /* todos os cantos como é um quadrado poderia colocar 
     border-radius: 10px */
}

