body {
	margin:0;
	padding:0;
	background:#ccc;
	text-align:center; 
	}
.tudo {
	width: 760px;
	margin:0 auto;			
	text-align:left; 
    color : deeppink;
	}
#conteudo {
	padding: 5px;
	background-color: #eee;
    /*color : blue;*/
	}
